USE [CocktailAlmanac_db]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ALLERGEN]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGEN](
	[AllergenId] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[LongName] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AllergenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Gender] [bit] NOT NULL DEFAULT ((0)),
	[UserLanguage] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
/****** Object:  Table [dbo].[INGREDIENT]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT](
	[IngredientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DateSubmitted] [datetime] NOT NULL,
	[DateModified] [datetime] NULL,
	[SubmittedBy] [nvarchar](128) NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
	[AlcoholPercent] [float] NOT NULL DEFAULT ((0)),
	[MeasurementUnitId] [int] NOT NULL,
	[ImageURL] [nvarchar](max) NOT NULL DEFAULT ('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY/j//z8ABf4C/qc1gYQAAAAASUVORK5CYII='),
PRIMARY KEY CLUSTERED 
(
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
/****** Object:  Table [dbo].[INGREDIENT_ALLERGEN]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT_ALLERGEN](
	[Present] [bit] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[AllergenId] [int] NOT NULL,
 CONSTRAINT [INGREDIENT_ALLERGENId] PRIMARY KEY CLUSTERED 
(
	[IngredientId] ASC,
	[AllergenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
/****** Object:  Table [dbo].[INGREDIENT_NUTRITIONAL_INFO]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT_NUTRITIONAL_INFO](
	[Amount] [float] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[Nutritional_InfoId] [int] NOT NULL,
 CONSTRAINT [INGREDIENT_NUTRITIONAL_INFOId] PRIMARY KEY CLUSTERED 
(
	[IngredientId] ASC,
	[Nutritional_InfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
/****** Object:  Table [dbo].[MEASUREMENT_UNIT]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEASUREMENT_UNIT](
	[MeasurementUnitId] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[LongName] [nvarchar](max) NULL,
	[MlFactor] [float] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MeasurementUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
/****** Object:  Table [dbo].[NUTRITIONAL_INFO]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUTRITIONAL_INFO](
	[Nutritional_InfoId] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[LongName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Nutritional_InfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
/****** Object:  Table [dbo].[RECIPE]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE](
	[RecipeId] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [float] NULL,
	[SubmittedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Votes] [int] NULL,
	[SubmittedBy] [nvarchar](128) NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [int] NULL,
	[ImageURL] [nvarchar](max) NOT NULL DEFAULT ('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY/j//z8ABf4C/qc1gYQAAAAASUVORK5CYII='),
PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
/****** Object:  Table [dbo].[RECIPE_CATEGORY]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE_CATEGORY](
	[Recipe_CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Recipe_CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
/****** Object:  Table [dbo].[RECIPE_INGREDIENT]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE_INGREDIENT](
	[Amount] [float] NOT NULL,
	[RecipeId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
 CONSTRAINT [RECIPE_INGREDIENTId] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC,
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
/****** Object:  Table [dbo].[RECIPE_STEP]    Script Date: 14/11/2015 17:35:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE_STEP](
	[StepNr] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RecipeId] [int] NOT NULL,
 CONSTRAINT [RECIPE_STEPId] PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC,
	[StepNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
)  

GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[INGREDIENT]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[INGREDIENT]  WITH CHECK ADD FOREIGN KEY([SubmittedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[INGREDIENT]  WITH CHECK ADD  CONSTRAINT [FK_INGREDIENT_MEASUREMENT_UNIT] FOREIGN KEY([MeasurementUnitId])
REFERENCES [dbo].[MEASUREMENT_UNIT] ([MeasurementUnitId])
GO
ALTER TABLE [dbo].[INGREDIENT] CHECK CONSTRAINT [FK_INGREDIENT_MEASUREMENT_UNIT]
GO
ALTER TABLE [dbo].[INGREDIENT_ALLERGEN]  WITH CHECK ADD  CONSTRAINT [FK_INGREDIENT_ALLERGEN_ALLERGEN] FOREIGN KEY([AllergenId])
REFERENCES [dbo].[ALLERGEN] ([AllergenId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INGREDIENT_ALLERGEN] CHECK CONSTRAINT [FK_INGREDIENT_ALLERGEN_ALLERGEN]
GO
ALTER TABLE [dbo].[INGREDIENT_ALLERGEN]  WITH CHECK ADD  CONSTRAINT [FK_INGREDIENT_ALLERGEN_INGREDIENT] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[INGREDIENT] ([IngredientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INGREDIENT_ALLERGEN] CHECK CONSTRAINT [FK_INGREDIENT_ALLERGEN_INGREDIENT]
GO
ALTER TABLE [dbo].[INGREDIENT_NUTRITIONAL_INFO]  WITH CHECK ADD  CONSTRAINT [FK_INGREDIENT_NUTRITIONAL_INFO_ALLERGEN] FOREIGN KEY([Nutritional_InfoId])
REFERENCES [dbo].[NUTRITIONAL_INFO] ([Nutritional_InfoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INGREDIENT_NUTRITIONAL_INFO] CHECK CONSTRAINT [FK_INGREDIENT_NUTRITIONAL_INFO_ALLERGEN]
GO
ALTER TABLE [dbo].[INGREDIENT_NUTRITIONAL_INFO]  WITH CHECK ADD  CONSTRAINT [FK_INGREDIENT_NUTRITIONAL_INFO_INGREDIENT] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[INGREDIENT] ([IngredientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INGREDIENT_NUTRITIONAL_INFO] CHECK CONSTRAINT [FK_INGREDIENT_NUTRITIONAL_INFO_INGREDIENT]
GO
ALTER TABLE [dbo].[RECIPE]  WITH CHECK ADD FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RECIPE]  WITH CHECK ADD FOREIGN KEY([SubmittedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RECIPE]  WITH CHECK ADD  CONSTRAINT [FK_RECIPE_RECIPE_CATEGORY] FOREIGN KEY([Category])
REFERENCES [dbo].[RECIPE_CATEGORY] ([Recipe_CategoryId])
GO
ALTER TABLE [dbo].[RECIPE] CHECK CONSTRAINT [FK_RECIPE_RECIPE_CATEGORY]
GO
ALTER TABLE [dbo].[RECIPE_INGREDIENT]  WITH CHECK ADD  CONSTRAINT [FK_RECIPE_INGREDIENT_INGREDIENT] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[INGREDIENT] ([IngredientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECIPE_INGREDIENT] CHECK CONSTRAINT [FK_RECIPE_INGREDIENT_INGREDIENT]
GO
ALTER TABLE [dbo].[RECIPE_INGREDIENT]  WITH CHECK ADD  CONSTRAINT [FK_RECIPE_INGREDIENT_RECIPE] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[RECIPE] ([RecipeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECIPE_INGREDIENT] CHECK CONSTRAINT [FK_RECIPE_INGREDIENT_RECIPE]
GO
ALTER TABLE [dbo].[RECIPE_STEP]  WITH CHECK ADD  CONSTRAINT [FK_RECIPE_STEP_RECIPE] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[RECIPE] ([RecipeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECIPE_STEP] CHECK CONSTRAINT [FK_RECIPE_STEP_RECIPE]
GO
