@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lohbachufer 6<br />
    6020 Innsbruck<br />
    <abbr title="Phone">Tel:</abbr>
    0664/22112211
</address>

<address>
    <strong>Marketing:</strong>   <a href="mailto:Support@example.com">Rene.Eppensteiner@Eppern-Software.com</a><br />
    <strong>Support:</strong> <a href="mailto:Marketing@example.com">Rory.Aherne@Eppern-Software.com</a>
</address>