@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cocktail Almanac</h1>
    <p class="lead">The Best Cocktail Recipe Website On THE INTERNET</p>
    @using (Html.BeginForm("SearchRecipe", "Recipes")) {
        <input type="search" name="search" list=@Model.Recipes autocomplete="off" id="RecipeId"/>
        <datalist id=@Model.Recipes>
            @foreach (var item in Model.Recipes) {
                <option value=@item.Name></option>
            }
        </datalist>
        <input type="submit">
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cocktail of the Day</h2>
        <p>
            @Model.RecipeOfTheDay.Name
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">zum CotD &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cocktail of the Month</h2>
        <p>
            @Model.RecipeOfTheMonth.Name
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">zum CotM &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Best rated Cocktail ever</h2>
        <p>
            @Model.BestRated.Name
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">zum BrCe &raquo;</a></p>
    </div>
</div>